<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="msapplication-tap-highlight" content="no" />
    <title>HuntTracker</title>
    <!-- build:css index.css -->
    <link type="text/css" rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link type="text/css" rel="stylesheet" href="../node_modules/openlayers/dist/ol-debug.css" />
    <link type="text/css" rel="stylesheet" href="css/icomoon.css" />
    <link type="text/css" rel="stylesheet" href="css/index.css" />
    <!-- endbuild -->
    <!-- build:js index.js -->
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="../bower_components/moment/locale/nb.js"></script>
    <script type="text/javascript" src="../bower_components/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="../node_modules/openlayers/dist/ol-debug.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="../bower_components/angular-gettext/dist/angular-gettext.js"></script>
    <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="../bower_components/hammerjs/hammer.js"></script>
    <script type="text/javascript" src="js/lib/Math.uuid.js"></script>
    <script type="text/javascript" src="js/lib/extensions.js"></script>
    <script type="text/javascript" src="js/lib/modernizr-custom.js"></script>
    <script type="text/javascript" src="i18n/nb_NO.js"></script>
    <script type="text/javascript" src="i18n/nn_NO.js"></script>
    <script type="text/javascript" src="i18n/translations-autodetect.js"></script>
    <script type="text/javascript" src="js/services/services.js"></script>
    <script type="text/javascript" src="js/services/icons.js"></script>
    <script type="text/javascript" src="js/services/filters.js"></script>
    <script type="text/javascript" src="js/services/markers.js"></script>
    <script type="text/javascript" src="js/services/auth.js"></script>
    <script type="text/javascript" src="js/services/users.js"></script>
    <script type="text/javascript" src="js/services/helpers.js"></script>
    <script type="text/javascript" src="js/directives/directives.js"></script>
    <script type="text/javascript" src="js/directives/popover.js"></script>
    <script type="text/javascript" src="js/directives/ol-map.js"></script>
    <script type="text/javascript" src="js/directives/datetime-picker.js"></script>
    <script type="text/javascript" src="js/controllers/controllers.js"></script>
    <script type="text/javascript" src="js/controllers/menu.js"></script>
    <script type="text/javascript" src="js/controllers/map.js"></script>
    <script type="text/javascript" src="js/controllers/mapModal.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <!-- endbuild -->
</head>

<body ng-app="HuntTracker" ng-controller="MapCtrl">
    <!--MENU-->
    <div class="main-menu">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" ng-click="setTracking()" style="border-right: 1px solid #e7e7e7">
                        <i class="icon-location5" ng-class="{'text-success': tracking  === true}"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="border-right: 1px solid #e7e7e7">
                        <i class="icon-filter" ng-class="{'text-danger': settings.filter  !== 'all'}" ></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" ng-click="applyFilter('all')"><i ng-class="settings.filter === 'all' ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"> </i><span translate>All</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" ng-click="applyFilter('none')"><i ng-class="settings.filter === 'none' ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"> </i><span translate>None</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" ng-click="applyFilter('date', 31)"><i ng-class="settings.filter === 'date' ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"> </i><span translate>Latest 31 days</span></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="border-right: 1px solid #e7e7e7">
                        <i class="icon-stack2"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" ng-click="settings.layer = 'norgeskart'"><i ng-class="settings.layer === 'norgeskart' ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"> </i><span translate>Norgeskart</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" ng-click="settings.layer = 'satellite'"><i ng-class="settings.layer === 'satellite' ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"> </i><span translate>Satellite Imagery</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" ng-click="settings.layer = 'osm'"><i ng-class="settings.layer === 'all' ? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'"> </i><span translate>Open Street Map</span></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-menu"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" ng-click="logout()"><i class="icon-user-minus"></i> {{'Log out' | translate}}</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" translate>Preferences</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!--MAP-->
    <div class="map-fullscreen">
        <ol-map class="map-fullscreen" ol-markers="markers" ol-layer="settings.layer" ol-track-position="tracking" ol-on-position-changed="positionChanged(coordinates)"
                ol-on-marker-selected="showMarkerDetails(marker)" ol-on-show-context-menu="addMarker(coordinates)"></ol-map>
    </div>
    <!--MARKER MODAL-->
    <script type="text/ng-template" id="widget.modal.html">
        <div class="modal-body">
            <form ng-submit="addMarkerSubmit()">
                <div class="form-group" ng-show="youAreHere">
                    <i class="icon-location5" style="color:green"></i>
                    <span translate>This is where <strong>you</strong> are now.</span>
                    <hr />
                </div>
                <small ng-if="!marker.id" class="text-justify" translate>Add a pin. Enter a description and tag (#) the pin:</small>
                <div class="form-group">
                    <textarea class="form-control" ng-model="marker.description" ng-change="extractDescriptionTags()"></textarea>
                </div>
                <div class="form-group">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" ng-class="{active: shotIcons[marker.icon] != null }">
                            <a href="#shot" aria-controls="shot" role="tab" data-toggle="tab"><i class="icon-target3"> </i><span translate>Shot</span></a>
                        </li>
                        <li role="presentation" ng-class="{active: seenIcons[marker.icon] != null }">
                            <a href="#seen" aria-controls="seen" role="tab" data-toggle="tab"><i class="icon-binoculars"> </i><span translate>Seen</span></a>
                        </li>
                        <li role="presentation" ng-class="{active: otherIcons[marker.icon] != null }">
                            <a href="#other" aria-controls="other" role="tab" data-toggle="tab"><i class="icon-compass5"> </i><span translate>Other</span></a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" ng-class="{active: shotIcons[marker.icon] != null }" id="shot">
                            <button ng-repeat="(key, value) in shotIcons" class="btn btn-default animal-btn" ng-class="key === marker.icon ? 'btn-selected' : ''"
                                    ng-click="setIcon(key)">
                                <div ng-show="value.type === 'image'" ng-style="{'background-image': 'url(' + value.src + ')', 'height': value.size[1] + 'px', 'width': value.size[0] + 'px', 'background-position': '-' + value.offset[0] + 'px -' + value.offset[1] + 'px', 'zoom': value.scale, '-moz-transform': 'scale(' + value.scale + ')'}"></div>
                                <i ng-show="value.type === 'font'" ng-class="value.class" style="font-size:25px"></i>
                            </button>
                        </div>
                        <div role="tabpanel" class="tab-pane" ng-class="{active: seenIcons[marker.icon] != null }" id="seen">
                            <button ng-repeat="(key, value) in seenIcons" class="btn btn-default animal-btn" ng-class="key === marker.icon ? 'btn-selected' : ''"
                                    ng-click="setIcon(key)">
                                <div ng-show="value.type === 'image'" ng-style="{'background-image': 'url(' + value.src + ')', 'height': value.size[1] + 'px', 'width': value.size[0] + 'px', 'background-position': '-' + value.offset[0] + 'px -' + value.offset[1] + 'px', 'zoom': value.scale, '-moz-transform': 'scale(' + value.scale + ')'}"></div>
                                <i ng-show="value.type === 'font'" ng-class="value.class" style="font-size:25px"></i>
                            </button>
                        </div>

                        <div role="tabpanel" class="tab-pane" ng-class="{active: otherIcons[marker.icon] != null }" id="other">
                            <button ng-repeat="(key, value) in otherIcons" class="btn btn-default animal-btn" ng-class="key === marker.icon ? 'btn-selected' : ''"
                                    ng-click="setIcon(key)">
                                <div ng-show="value.type === 'image'" ng-style="{'background-image': 'url(' + value.src + ')', 'height': value.size[1] + 'px', 'width': value.size[0] + 'px', 'background-position': '-' + value.offset[0] + 'px -' + value.offset[1] + 'px', 'zoom': value.scale, '-moz-transform': 'scale(' + value.scale + ')'}"></div>
                                <i ng-show="value.type === 'font'" ng-class="value.class" style="font-size:25px"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    Tags 
                    <i class="icon-question" 
                       tooltip="{{'Tags are categories that can be used when searching an filtering points. Most icons have assosiated tags. You can add your own tags by using hashtag in the description text box, i.e. #team1 joined me, will add a team1 tag.' | translate}}" 
                       tooltip-placement="right"
                       tooltip-trigger="click"></i>: 
                    <span class="badge" ng-repeat="tag in icons[marker.icon].tags" style="margin-right:2px">
                        #{{tag | translate}}
                    </span>
                    <span class="badge badge-lighter" ng-repeat="tag in descriptionTags" style="margin-right:2px">
                        #{{tag | translate}}
                    </span>
                </div>

                <datetime-picker model="marker.dateTime"></datetime-picker>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-danger pull-left" ng-if="showDelBtn" ng-click="delete()" translate>Delete</button>
            <button type="button" class="btn btn-sm btn-danger pull-left" ng-if="showDelConfirmBtn" ng-click="deleteConfirm()"
                    translate>
                Are you sure?
            </button>
            <button type="button" class="btn btn-sm btn-default" ng-click="cancel()" translate>Cancel</button>
            <button type="submit" class="btn btn-success" ng-click="submit()">{{submitText | translate}}</button>
        </div>
    </script>
</body>

</html>