<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
        <title>HuntTracker</title>
        <!-- build:css index.css -->
        <link type="text/css" rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"
        />
        <link type="text/css" rel="stylesheet" href="../node_modules/openlayers/dist/ol-debug.css" />
        <link type="text/css" rel="stylesheet" href="css/icomoon.css" />
        <link type="text/css" rel="stylesheet" href="css/index.css" />
        <!-- endbuild -->
        <!-- build:js index.js -->
        <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="../bower_components/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="../bower_components/moment/locale/nb.js"></script>
        <script type="text/javascript" src="../bower_components/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="../node_modules/openlayers/dist/ol-debug.js"></script>
        <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="../bower_components/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="../bower_components/angular-gettext/dist/angular-gettext.js"></script>
        <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
        <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="../bower_components/hammerjs/hammer.js"></script>
        <script type="text/javascript" src="../bower_components/jquery.hammer.js/jquery.hammer.js"></script>
        <script type="text/javascript" src="js/lib/Math.uuid.js"></script>
        <script type="text/javascript" src="js/lib/extensions.js"></script>
        <script type="text/javascript" src="js/lib/modernizr-custom.js"></script>
        <script type="text/javascript" src="i18n/nb_NO.js"></script>
        <script type="text/javascript" src="i18n/nn_NO.js"></script>
        <script type="text/javascript" src="i18n/translations-autodetect.js"></script>
        <script type="text/javascript" src="js/services/services.js"></script>
        <script type="text/javascript" src="js/services/icons.js"></script>
        <script type="text/javascript" src="js/services/markers.js"></script>
        <script type="text/javascript" src="js/services/auth.js"></script>
        <script type="text/javascript" src="js/services/users.js"></script>
        <script type="text/javascript" src="js/services/helpers.js"></script>
        <script type="text/javascript" src="js/directives/directives.js"></script>
        <script type="text/javascript" src="js/directives/popover.js"></script>
        <script type="text/javascript" src="js/directives/ol-map.js"></script>
        <script type="text/javascript" src="js/directives/datetime-picker.js"></script>
        <script type="text/javascript" src="js/controllers/controllers.js"></script>
        <script type="text/javascript" src="js/controllers/menu.js"></script>
        <script type="text/javascript" src="js/controllers/map.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <!-- endbuild -->
    </head>
    
    <body ng-app="HuntTracker" ng-controller="MapCtrl">
        <!--MENU-->
        <div class="main-menu">
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="border-right: 1px solid #e7e7e7">
                            <i class="icon-filter"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">All</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Satellite</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="border-right: 1px solid #e7e7e7">
                            <i class="icon-stack2"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" ng-click="settings.layer = 'norgeskart'">Norgeskart</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#" ng-click="settings.layer = 'satellite'">Satellite</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#" ng-click="settings.layer = 'osm'">Open Street Map</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
                            <i class="icon-menu"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" ng-click="logout()"><i class="icon-user-minus"></i> {{'Log out' | translate}}</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#" translate="yes">Preferences</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!--MAP-->
        <div class="map-fullscreen">
            <ol-map ol-markers="markers" ol-layer="settings.layer" ol-track-position="tracking" ol-on-position-changed="positionChanged(coordinates)"
            ol-on-marker-selected="showMarkerDetails(marker)" ol-on-show-context-menu="addMarker(coordinates)" class="map-fullscreen"></ol-map>
        </div>
        <!--POINT MODAL-->
        <script type="text/ng-template" id="widget.modal.html">
            <div class="modal-body">
                    <form ng-submit="addMarkerSubmit()">
                        <div class="form-group" ng-show="marker.id === 'you'">
                            <img src="/src/images/you.png" alt="you" />
                            <span translate="yes">This is where <strong>you</strong> are now.</span>
                            <hr />
                        </div>
    
                        <small ng-if="marker.id === 'you' || !marker.id" class="text-justify" translate="yes">
                            Add a pin. Enter a description and tag (#) the pin:
                        </small>
                        <div class="form-group">
                            <textarea class="form-control" ng-model="marker.description"></textarea>
                        </div>
    
                        <div class="form-group">
                            <button ng-repeat="(key, value) in icons" class="btn btn-default animal-btn" ng-class="key === marker.icon ? 'btn-selected' : ''" ng-click="setIcon(key)">
                                <div ng-show="value.type === 'image'" ng-style="{'background-image': 'url(' + value.src + ')', 'height': value.size[1] + 'px', 'width': value.size[0] + 'px', 'background-position': '-' + value.offset[0] + 'px -' + value.offset[1] + 'px', 'zoom': value.scale, '-moz-transform': 'scale(' + value.scale + ')'}"></div>
                                <i ng-show="value.type === 'font'" ng-class="value.class" style="font-size:25px"></i>
                            </button>
                        </div>
    
                        <datetime-picker model="marker.dateTime"></datetime-picker>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger pull-left" ng-if="showDelBtn" ng-click="delete()" translate="yes">Delete</button>
                    <button type="button" class="btn btn-sm btn-danger pull-left" ng-if="showDelConfirmBtn" ng-click="deleteConfirm()" translate="yes">Are you sure?</button>
                    <button type="button" class="btn btn-sm btn-default" ng-click="cancel()" translate="yes">Cancel</button>
                    <button type="submit" class="btn btn-success" ng-click="submit()">{{submitText | translate}}</button>
                </div>
        </script>
    </body>

</html>