<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="msapplication-tap-highlight" content="no" />
        <title>HuntTracker - Login</title>
        <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
        <!-- build:css login.css -->
        <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link type="text/css" rel="stylesheet" href="css/icomoon.css" />
        <link type="text/css" rel="stylesheet" href="css/login.css" />
        <!-- endbuild -->
        <!-- build:js login.js -->
        <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="../bower_components/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="../bower_components/angular-gettext/dist/angular-gettext.js"></script>
        <script type="text/javascript" src="i18n/nb_NO.js"></script>
        <script type="text/javascript" src="i18n/nn_NO.js"></script>
        <script type="text/javascript" src="i18n/translations-autodetect.js"></script>
        <script type="text/javascript" src="js/controllers/login.js"></script>
        <script type="text/javascript" src="js/services/services.js"></script>
        <script type="text/javascript" src="js/services/auth.js"></script>
        <script type="text/javascript" src="js/services/users.js"></script>
        <!-- endbuild -->
    </head>
    
    <body ng-app="HTLogin" ng-controller="LoginCtrl">
        <div class="container" style="margin-top:10%">
            <div class="col-md-5 col-md-offset-3">
                <!--LOGIN-->
                <div ng-show="view === 'login'" class="panel">
                    <div class="panel-body">
                        <p class="text-danger" ng-show="errorMessage">{{errorMessage | translate}}</p>
                        <form role="form" class="loginform" name="loginForm" novalidate>
                            <div class="form-group">
                                <div class="input-group">
                                    <i class="input-group-addon icon-envelop3"></i>
                                    <input type="email" name="email" class="form-control" placeholder="{{'email' | translate}}" ng-model="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="sr-only" ng-model="password">Password</label>
                                <div class="input-group">
                                    <i class="input-group-addon icon-lock"></i>
                                    <input type="password" name="password" class="form-control" placeholder="{{'password' | translate}}" ng-model="password"
                                    required>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success login" ng-disabled="loginForm.$invalid" ng-click="loginSubmit()">
                                <i ng-if="loading" class="icon-spinner9 spinner"></i>
                                <span ng-if="!loading" translate>Login</span>
                            </button>
                            <div class="form-group">
                                <a href="#" style="font-size: small; color: lightgrey" ng-click="register()" translate="yes">Register</a>
                                <a href="#" style="font-size: small; color: lightgrey" class="pull-right" ng-click="forgot()" translate="yes">Forgot password?</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!--REGISTER-->
                <div ng-show="view === 'register'" class="panel panel-default">
                    <div class="panel-body">
                        <p class="text-danger" ng-show="errorMessage">{{errorMessage | translate}}</p>
                        <form role="form" class="loginform" name="registerForm" novalidate>
                            <div class="form-group">
                                <div class="input-group">
                                    <i class="input-group-addon icon-profile"></i>
                                    <input type="text" name="firstName" class="form-control" placeholder="{{'first name' | translate}}" ng-model="firstName"
                                    required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <i class="input-group-addon icon-profile"></i>
                                    <input type="text" name="lastName" class="form-control" placeholder="{{'last name' | translate}}" ng-model="lastName"
                                    required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <i class="input-group-addon icon-envelop3"></i>
                                    <input type="email" name="email" class="form-control" placeholder="{{'email' | translate}}" ng-model="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="sr-only" ng-model="password" translate="yes">Password</label>
                                <div class="input-group">
                                    <i class="input-group-addon icon-lock"></i>
                                    <input type="password" name="password" class="form-control" placeholder="{{'password' | translate}}" ng-model="password"
                                    required>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default col-md-1 col-xs-2" ng-click="login()">
                                    <i class="icon-arrow-left2"></i>
                                </button>
                                <button type="button" class="btn btn-success col-md-11 col-xs-10" ng-disabled="registerForm.$invalid" ng-click="registerSubmit()">
                                    <i ng-if="loading" class="icon-spinner9 spinner"></i>
                                    <span ng-if="!loading" translate>Register</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--FORGOT-->
                <div ng-show="view === 'forgot'" class="panel panel-default">
                    <div class="panel-body">
                        <p class="text-danger" ng-show="errorMessage">{{errorMessage | translate}}</p>
                        <form role="form" class="loginform" name="forgotForm" novalidate>
                            <div class="form-group">
                                <div class="input-group">
                                    <i class="input-group-addon icon-envelop3"></i>
                                    <input type="email" name="email" class="form-control" placeholder="{{'email' | translate}}" ng-model="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default col-md-1 col-xs-2" ng-click="login()">
                                    <i class="icon-arrow-left2"></i>
                                </button>
                                <button type="button" class="btn btn-success col-md-11 col-xs-10" ng-disabled="forgotForm.$invalid" ng-click="forgotSubmit()"
                                translate="yes">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>