@keyframes anim-rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	display: inline-block;
	line-height: 1;
	animation: anim-rotate 2s infinite linear;
	text-shadow: 0 0 .25em rgba(255,255,255, .3);
}

.spinner--steps2 {
	animation: anim-rotate 1s infinite steps(12);
}