html,
body {
    height: 100%;
    margin: 0;
}

.map-fullscreen {
    width: 100%;
    height: 100%;
}

.main-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.popover {
    -moz-min-width: 300px;
    -ms-min-width: 300px;
    -o-min-width: 300px;
    -webkit-min-width: 300px;
    min-width: 300px;
}

.animal-btn {
    height:63px;
    width: 63px;
}
.animal-btn div {
    background-repeat: no-repeat;
    -moz-transform-origin: 0 0;
    margin: auto;
}

.btn-selected {
    background-color: #D7D7D7;
    border:2px solid;
}

.btn-group>.btn-group>.btn {
    border-radius: 0;
}

/*Main menu*/
.navbar-nav.navbar-right:last-child {
  margin-right: 0 !important;
}
 
.navbar-nav.navbar-right {
  margin-right: 0;
  float: right!important;
}

.navbar-nav {
    float: right!important;
    margin: 0;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}

/*Tabs in the marker modal*/
.nav-tabs>li>a {
    padding: 10px 4px;
}

/*.tab-pane {
    padding-top: 5px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}*/

/*Tooltip input modal*/
.tooltip > p {
   text-align:left;
 }

.tooltip-inner {
    text-align:justify;
}

/*Tags in modal*/
.badge-lighter {
    background-color: #989898;;
}

.icon-red {
    color: red;
}