body {
    background: url('src/images/deer_hunting.jpg')
}
.panel {
    border: 1px solid lightgray;
}

button.login {
    width: 100%;
}

form.loginform div.input-group {
    width: 100%;
}

form.loginform input[type="email"], form.loginform input[type="password"] {
    color: #6C6C6C;
}

p.forgotpass {
    margin-top: 10px;
}

.login-error {
    display: none;
    color: #F5683D;
}

input.ng-invalid.ng-touched {
    background-color: #f2dede;
}
