<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hunters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-gettext/dist/angular-gettext.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="bower_components/openlayers3/build/ol.js"></script>
    <script type="text/javascript" src="bower_components/tombatossals/dist/angular-openlayers-directive.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body ng-app="hunters" ng-init="name = 'World'">
    <a href="statkart.html">Startkart.html</a>

    <h1> Hello {{name}}</h1>
    <div ng-controller="HuntersCtrl">
        <input type="text" ng-model="name" />
        <p>Hello {{name}}!</p>

        <ul>
            <li ng-repeat="name in names">
                {{name}}
            </li>
        </ul>
    </div>
    <div ng-controller="MapCtrl">
        <openlayers ol-center="center" height="480px" width="640px">
        </openlayers>
    </div>
</body>
</html>
