<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HuntTracker</title>

    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link type="text/css" rel="stylesheet" href="bower_components/openlayers3/build/ol.css" />
    <link type="text/css" rel="stylesheet" href="bower_components/tombatossals/css/markers.css" />
    <link type="text/css" rel="stylesheet" href="css/index.css" />
    <link type="text/css" rel="stylesheet" href="css/icomoon.css" />

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/moment/min/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="bower_components/openlayers3/build/ol.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-gettext/dist/angular-gettext.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="bower_components/hammerjs/hammer.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery.hammer.js/jquery.hammer.js"></script>
    <script type="text/javascript" src="js/lib/Math.uuid.js"></script>
    <script type="text/javascript" src="i18n/nb_NO.js"></script>
    <script type="text/javascript" src="i18n/nn_NO.js"></script>
    <script type="text/javascript" src="i18n/translations-autodetect.js"></script>


    <script type="text/javascript" src="js/services/services.js"></script>
    <script type="text/javascript" src="js/services/icons.js"></script>
    <script type="text/javascript" src="js/services/markers.js"></script>
    <script type="text/javascript" src="js/services/auth.js"></script>
    <script type="text/javascript" src="js/services/users.js"></script>
    <script type="text/javascript" src="js/services/helpers.js"></script>
    <script type="text/javascript" src="js/directives/directives.js"></script>
    <script type="text/javascript" src="js/directives/popover.js"></script>
    <script type="text/javascript" src="js/directives/ol-map.js"></script>
    <script type="text/javascript" src="js/directives/datetime-picker.js"></script>
    <script type="text/javascript" src="js/controllers/controllers.js"></script>
    <script type="text/javascript" src="js/controllers/menu.js"></script>
    <script type="text/javascript" src="js/controllers/map.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body ng-app="HuntTracker">

    <div class="main-menu" ng-controller="MenuCtrl">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span translate="yes">Menu</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#" ng-click="logout()">
                        <i class="icon-user-minus"></i>
                        {{'Log out' | translate}}
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#" translate="yes">Preferences</a>
                </li>
            </ul>
        </div>
    </div>

    <div ng-controller="MapCtrl" class="map-fullscreen">

        <!--MAP-->
        <ol-map ol-markers="markers"
                ol-marker-icons="markerIcons"
                ol-track-position="tracking"
                ol-on-position-changed="positionChanged(coordinates)"
                ol-on-marker-selected="showMarkerDetails(marker)"
                ol-on-show-context-menu="addMarker(coordinates)"
                class="map-fullscreen">
        </ol-map>

        <!--MARKER POPOVER-->
        <script type="text/ng-template" id="widget.modal.html">
            <div class="modal-body">
                <form ng-submit="addMarkerSubmit()">
                    <div class="form-group" ng-show="marker.id === 'you'">
                        <img src="/images/person.png" alt="you" />
                        <span translate="yes">This is where <strong>you</strong> are now.</span>
                        <hr />
                    </div>

                    <small class="text-justify" translate="yes">Add a pin. Enter a description and tag (#) the pin:</small>
                    <div class="form-group">
                        <textarea class="form-control" ng-model="marker.description"></textarea>
                    </div>

                    <div class="form-group">
                        <img ng-repeat="(key, value) in icons"
                             ng-class="key === marker.icon ? 'btn btn-primary' : 'btn btn-default'"
                             ng-click="setIcon(key)"
                             src="{{value}}" alt="{{key}}" />
                    </div>

                    <div class="form-group">
                        <div class="input-group date" datetime-picker ng-model="marker.dateTime">
                            <input type="text" class="form-control" />
                            <span class="input-group-addon">
                                <i class="icon-calendar"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger pull-left" ng-if="showDelBtn" ng-click="delete()" translate="yes">Delete</button>
                <button type="button" class="btn btn-sm btn-danger pull-left" ng-if="showDelConfirmBtn" ng-click="deleteConfirm()" translate="yes">Are you sure?</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="cancel()" translate="yes">Cancel</button>
                <button type="submit" class="btn btn-success" ng-click="submit()">{{submitText | translate}}</button>
            </div>
        </script>
    </div>
</body>
</html>
