<div class="modal-header">
    <h1 translate>Custom Filter</h1>
    <p translate>With a filter you decide what points should show in the map.</p>
</div>
<div class="modal-body">

    <div>
        <i style="font-size:25px;vertical-align:sub" ng-click="filter.mineOnly.enabled = !filter.mineOnly.enabled" ng-class="filter.mineOnly.enabled === true ? 'icon-toggle-on text-success' : 'icon-toggle-off text-muted'"></i>
        <i class="icon-user"></i>
        <span translate>Show my points only</span>
    </div>

    <hr/>
    <div>
        <i style="font-size:25px;vertical-align:sub;" ng-click="filter.team.enabled = !filter.team.enabled" ng-class="filter.team.enabled === true ? 'icon-toggle-on text-success' : 'icon-toggle-off text-muted'"></i>
        <i class="icon-users4"></i>
        <span translate>Filter on hunting team</span>
    </div>
    <div ng-if="filter.team.enabled">
        <p><i translate>Select the hunting teams a point must be shared with to show in the map</i></p>
        <button type="button" class="btn btn-xs btn-default" ng-repeat="team in teams" ng-click="toggleTeam(team.id)" ng-class="filter.team.teams.indexOf(team.id) > -1 ? 'btn-primary' : 'btn-default'">{{team.name}}</button>
    </div>

    <hr/>
    <div>
        <i style="font-size:25px;vertical-align:sub" ng-click="filter.tag.enabled = !filter.tag.enabled" ng-class="filter.tag.enabled === true ? 'icon-toggle-on text-success' : 'icon-toggle-off text-muted'"></i>
        <i class="icon-price-tag3"></i>
        <span translate>Filter on tags</span>
    </div>
    <div ng-if="filter.tag.enabled">
        <p><i translate>Select the tags a point must have to show in the map</i></p>
        <button type="button" class="btn btn-xs btn-default" ng-repeat="tag in actionTags" ng-click="toggleTag(tag)" ng-class="filter.tag.tags.indexOf(tag) > -1 ? 'btn-primary' : 'btn-default'">{{tag | translate}}</button>
        <button type="button" class="btn btn-xs btn-default" ng-repeat="tag in animalTags" ng-click="toggleTag(tag)" ng-class="filter.tag.tags.indexOf(tag) > -1 ? 'btn-primary' : 'btn-default'">{{tag | translate}}</button>
        <button type="button" class="btn btn-xs btn-default" ng-repeat="tag in otherTags" ng-click="toggleTag(tag)" ng-class="filter.tag.tags.indexOf(tag) > -1 ? 'btn-primary' : 'btn-default'">{{tag | translate}}</button>
        <button type="button" class="btn btn-xs btn-default" ng-repeat="tag in customTags" ng-click="toggleTag(tag)" ng-class="filter.tag.tags.indexOf(tag) > -1 ? 'btn-primary' : 'btn-default'">{{tag}}</button>
        <button type="button" class="btn btn-xs btn-default" ng-repeat="tag in removedTags" ng-click="toggleTag(tag)" ng-class="filter.tag.tags.indexOf(tag) > -1 ? 'btn-primary' : 'btn-default'">{{tag}}</button>
    </div>

    <hr/>
    <div>
        <i style="font-size:25px;vertical-align:sub" ng-click="filter.fromDate.enabled = !filter.fromDate.enabled" ng-class="filter.fromDate.enabled === true ? 'icon-toggle-on text-success' : 'icon-toggle-off text-muted'"></i>
        <i class="icon-calendar"></i>
        <span translate>Filter on from date</span>
    </div>
    <div ng-if="filter.fromDate.enabled">
        <p><i translate>The points date must be <span style="text-decoration:underline">larger or equal</span> to the given date to show in the map</i></p>
        <datetime-picker model="filter.fromDate.date" date-only="true"></datetime-picker>
        <br/>
    </div>

    <hr/>
    <div>
        <i style="font-size:25px;vertical-align:sub" ng-click="filter.toDate.enabled = !filter.toDate.enabled" ng-class="filter.toDate.enabled === true ? 'icon-toggle-on text-success' : 'icon-toggle-off text-muted'"></i>
        <i class="icon-calendar"></i>
        <span translate>Filter on to date</span>
    </div>
    <div ng-if="filter.toDate.enabled">
        <p><i translate>The points date must be <span style="text-decoration:underline">smaller or equal</span> to the given date to show in the map</i></p>
        <datetime-picker model="filter.toDate.date" date-only="true"></datetime-picker>
        <br/>
    </div>


</div>
<div class="modal-footer">
    <p><i translate>The filter will be stored and will be available in the filter menu</i></p>
    <div style="padding-bottom:10px">
        <input type="text" ng-model="filter.name" placeholder="{{'Name of the filter' | translate}}" class="form-control" />
    </div>
    <button type="button" class="btn btn-sm btn-default" ng-click="cancel()" translate>Cancel</button>
    <button type="button" class="btn btn-sm btn-success" ng-click="save()" translate>Save and use</button>
</div>