<div class="modal-header">
    <h1 translate>Hunting Team</h1>
</div>
<div class="modal-body">
    <p translate>By creating a hunting team, you will be able to share points you add in the map with the other team members.</p>
    <p translate>
        When you create a hunting team you can invite others to join. The invites have to be accepted before they become active memebers of the hunting team.
    </p>
    <i ng-if="loading" class="icon-spinner3 spinner spinner--steps2" style="font-size:25px"></i>
    <uib-accordion close-others="true">
        <uib-accordion-group ng-repeat="t in teams" is-open="t.isOpen">
            <uib-accordion-heading>
                {{t.name}}
                <i class="icon-cancel-circle2 text-danger pull-right" ng-click="removeTeam(t.id)" ng-show="t.userIsTeamAdmin && t.members.length < 2"></i>
            </uib-accordion-heading>
            <p ng-if="t.userIsTeamAdmin">
                <i class="icon-info2 text-info"></i>
                <i class="text-muted"><small translate>You are admin for this team and can invite and remove members.</small></i>
            </p>
            <p ng-if="t.userMemberStatus === 'invited'">
                <span translate>You have been invited to this hunting team. Do you accept or decline membership?</span>
                <button type="button" ng-click="acceptInvitation(t.id)" class="btn btn-success btn-sm" translate>Accept</button>
                <button type="button" ng-click="declineInvitation(t.id)" class="btn btn-danger btn-sm" translate>Decline</button>
            </p>
            <p ng-if="t.userMemberStatus === 'paused'">
                <i class="icon-info2 text-info"></i>
                <i class="text-muted"><small translate>Your membership with this team has been paused by the the team admin.</small></i>
            </p>
			
            <ul class="list-unstyled">
                <li ng-repeat="member in t.members">
                    {{member.firstName}} {{member.lastName}}
                    <span class="label" ng-class="{'label-success': member.status === 'active', 'label-info': member.status === 'invited', 'label-warning': member.status === 'paused', 'label-primary': member.status === 'admin'}">
                        {{member.status | translate}}
                    </span>
                    <span ng-if="t.userIsTeamAdmin" class="member-actions">
                        <span class="btn btn-danger btn-sm btn-circle-sm" ng-click="removeMember(t.id, member.userId)" ng-if="t.adminId !== member.userId">
                            <i class="icon-cross2"></i>
                        </span>
                        <span class="btn btn-default btn-sm btn-circle-sm" ng-click="pauseMember(t.id, member.userId)" ng-if="member.status === 'active'">
                            <i class="icon-pause2"></i>
                        </span>
                        <span class="btn btn-default btn-sm btn-circle-sm" ng-click="activateMember(t.id, member.userId)" ng-if="member.status === 'paused'">
                            <i class="icon-play4"></i>
                        </span>
                    </span>
                </li>
            </ul>

            <span ng-if="t.userIsTeamAdmin">
                <span translate>Invite member:</span>
                <div class="input-group" ng-if="t.userIsTeamAdmin">
                    <input type="email" class="form-control" ng-model="inviteEmail" placeholder="{{'email' | translate}}" />
                    <span class="input-group-btn">
                        <button type="button" ng-click="inviteMember(t.id, inviteEmail)" class="btn btn-default" translate>Invite</button>
                    </span>
                </div>
                <p class="text-danger">{{errorMessage | translate}}</p>
                <i>
                    <i class="icon-info2 text-info"> </i>
                    <small class="text-muted" translate>Currently you need to know the hunters email address to be able to invite. We are working on invitations by name.</small>
                </i>
            </span>
        </uib-accordion-group>
    </uib-accordion>

    <span translate>Create team:</span>
    <div class="input-group">
        <input type="text" class="form-control" ng-model="newTeam.name" placeholder="{{'Name of the new team ...' | translate}}" />
        <span class="input-group-btn">
            <button type="button" ng-click="createTeam()" class="btn btn-default" translate>Create</button>
        </span>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-default" ng-click="cancel()" translate>Done</button>
</div>